form{
    background: url("https://i.pinimg.com/originals/d0/fd/4c/d0fd4c29b0bc0330d73eb0cf6991fed0.jpg");
    /* background: no-repeat; */
    background-position: center;
    background-size: cover;
    border: black solid 1px;
    border-radius: 10px;
    width: 50rem;
    padding: 10px 30px;
    margin: 1rem 23rem;
    color: white;
    font-size: 17px;
    font-weight: 600;
    line-height: 50px;
}
form label{
    margin-left: 13px;
}
form > div{
    margin: 5px;
}
.form-group input,select{
    width: 470px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 10px 0;
}
.side1 input,select{
    width: 200px;
}
.side1 > div > label:first-child{
    margin-right: 150px;
}
select{
    margin-left: 65px;
}
.side2 input{
    width: 200px;
}
.side2 label:nth-of-type(2){
    margin-left: 175px;
}
.side2 label:nth-child(3){
    margin-left: 190px;
}
.side2 input:nth-of-type(n+2){
    margin-left: 30px;
}
.acc > input{
    width: 20px;
}
.acc > label{
    margin-left: 2px;
}
button{
    margin-left: 20rem;
}